{% extends 'base.html.twig' %}

{% block title %}Page de sommaire 'Créations'{% endblock %}

{% block meta_description %}Le sommaire de la secion principale 'Créations', avec les liens pour se diriger vers les parties secondaires de cette section.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1 class="h1-creations">Créations</h1>
    <h3 class="h3-creations">Créez les contenus pédagogiques, les sessions et gérez les contacts</h3>

    <div class="sous-cont">

        <div class="lot-bandeau">

            <h2 class="h2-creations">Contenus pédagogiques</h2>

            <a href="{{ path('app_module') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Modules d'enseignement
                    </h4>
                    <p>
                        Créer ou éditer les modules d'enseignement
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Modules
                    </h4>
                </div>
            </a>
            
            <a href="{{ path('app_programme') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Programmes de formation
                    </h4>
                    <p>
                        Créer ou éditer les programmes de formation
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Programmes
                    </h4>
                </div>
            </a>
    
            <a href="{{ path('app_formation') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Formations
                    </h4>
                    <p>
                        Créer ou éditer les formations
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Formations
                    </h4>
                </div>
            </a>
    
            <a href="{{ path('app_session') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Sessions de formation
                    </h4>
                    <p>
                        Créer ou éditer les sessions de formation
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Sessions
                    </h4>
                </div>
            </a>

        </div>
    
        <div class="lot-bandeau">
            
            <h2 class="h2-creations">Annuaire</h2>
    
            <a href="{{ path('app_apprenant') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Liste des apprenants
                    </h4>
                    <p>
                        Consulter et gérer la liste des apprenants
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Apprenants
                    </h4>
                </div>
            </a>
    
            <a href="{{ path('app_formateur') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Liste des formateurs
                    </h4>
                    <p>
                        Consulter et gérer la liste des formateurs
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Formateurs
                    </h4>
                </div>
            </a>
            
            <a href="{{ path('app_responsable') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Liste des responsables
                    </h4>
                    <p>
                        Consulter et gérer la liste des responsables
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Responsables
                    </h4>
                </div>
            </a>
            
            <a href="{{ path('app_societe') }}" class="bandeau">
                <div class="csp-ecran">
                    <h4>
                        Liste des sociétés
                    </h4>
                    <p>
                        Consulter et gérer la liste des sociétés
                    </p>
                </div>
                <div class="csp-mobile">
                    <h4>
                        Sociétés
                    </h4>
                </div>
            </a>

        </div>

    </div>

</div>

{% endblock %}
