{% extends 'base.html.twig' %}

{% block title %}Créations{% endblock %}

{% block body %}


<div class="accueil-sous-cont">


    <h1>Créations</h1>
    <h3>Créez les contenus pédagogiques, les sessions et gérez les contacts</h3>


    <div class="sous-cont">
        <div class="lot-bandeau">
            <h2>Contenus pédagogiques</h2>
    
    
            <a href="{{ path('app_module') }}" class="bandeau">
                <div>
                    <h4>
                        Modules d'enseignement
                    </h4>
                    <p>
                        Créer ou éditer les modules d'enseignement
                    </p>
                </div>
            </a>
            
    
            <a href="{{ path('app_programme') }}" class="bandeau">
                <div>
                    <h4>
                        Programmes de formation
                    </h4>
                    <p>
                        Créer ou éditer les programmes de formation
                    </p>
                </div>
            </a>
    
    
            <a href="{{ path('app_formation') }}" class="bandeau">
                <div>
                    <h4>
                        Formations
                    </h4>
                    <p>
                        Créer ou éditer les formations
                    </p>
                </div>
            </a>
    
    
            <a href="{{ path('app_session') }}" class="bandeau">
                <div>
                    <h4>
                        Sessions de formation
                    </h4>
                    <p>
                        Créer ou éditer les sessions de formation
                    </p>
                </div>
            </a>
        </div>
    
    
        <div class="lot-bandeau">
            <h2>Annuaire</h2>
    
    
            <a href="{{ path('app_apprenant') }}" class="bandeau">
                <div>
                    <h4>
                        Liste des apprenants
                    </h4>
                    <p>
                        Consulter et gérer la liste des apprenants
                    </p>
                </div>
            </a>
            
    
            <a href="{{ path('app_formateur') }}" class="bandeau">
                <div>
                    <h4>
                        Liste des formateurs
                    </h4>
                    <p>
                        Consulter et gérer la liste des formateurs
                    </p>
                </div>
            </a>
            
    
            <a href="{{ path('app_responsable') }}" class="bandeau">
                <div>
                    <h4>
                        Liste des responsables
                    </h4>
                    <p>
                        Consulter et gérer la liste des responsables
                    </p>
                </div>
            </a>
            
    
            <a href="{{ path('app_societe') }}" class="bandeau">
                <div>
                    <h4>
                        Liste des sociétés
                    </h4>
                    <p>
                        Consulter et gérer la liste des sociétés
                    </p>
                </div>
            </a>
        </div>
    </div>

   
</div>

{% endblock %}
