{% extends 'base02.html.twig' %}

{% block title %}Liste des modèles de documents{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Liste des modèles de documents</h1>
    <h3>Cette liste contient 12 modèles de documents administratifs à fournir à divers intervenants</h3>

    <div class="sous-cont">

        <table class="documents-table">
            <thead>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Destinataire
                    </th>
                    <th>
                        Mode d'envoi
                    </th>
                    <th>
                        Activé
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Programme</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant, responsables</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Contrat formateur</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Formateur</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">
                        <a href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">Convocation</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">
                        <a href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">Apprenant, responsables</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">
                        <a href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">
                        <a href="{{ path('generer_convocation', {'sessionId': 1, 'apprenantId': 1}) }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">
                        <a href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">Convention</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">
                        <a href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">Société</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">
                        <a href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">
                        <a href="{{ path('generer_convention', {'sessionId': 1, 'societeId': 1}) }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Feuille d'émargement</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Société</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Attestation de fin de formation</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Attestation de présence</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Relevé de connexion</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Relevé d'évaluation</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Attestation d'assiduité</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Certificat de réalisation</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
                <tr>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Contrat client particulier</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Apprenant</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Manuel</a>
                    </td>
                    <td class="clickable-row" data-href="{{ path('construction') }}">
                        <a href="{{ path('construction') }}">Oui</a>
                    </td>   
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}
