{% extends 'base.html.twig' %}

{% block title %}Page de sommaire 'Paramètres'{% endblock %}

{% block meta_description %}Le sommaire de la secion principale 'Paramètres', avec les liens pour se diriger vers les parties secondaires de cette section.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Paramètres</h1>
    <h3>Adaptez l'outil à vos besoins</h3>

    <div class="sous-cont">

        <a href="{{ path('app_utilisateur') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Comptes utilisateurs
                </h4>
                <p>
                    Gérer les comptes utilisateurs
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Comptes utilisateurs
                </h4>
            </div>
        </a>
        
        <a href="{{ path('modeles_documents') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Modèles de documents
                </h4>
                <p>
                    Modifier les modèles de documents
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Modèles documents
                </h4>
            </div>
        </a>
        
        <a href="{{ path('new_edit_entreprise') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Informations sur la société
                </h4>
                <p>
                    Renseigner les informations administratives de la société
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Infos société
                </h4>
            </div>
        </a>
        
        <a href="{{ path('new_edit_representant') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Informations sur le représentant légal
                </h4>
                <p>
                    Renseigner les informations du représentant légal
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Infos rep. légal
                </h4>
            </div>
        </a>
        
        <a href="{{ path('construction') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Lieux de formation
                </h4>
                <p>
                    Gérer les lieux de formation
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Lieux de formation
                </h4>
            </div>
        </a>
        
        <a href="{{ path('termes_publiables') }}" class="bandeau">
            <div class="csp">
                <h4>
                    Termes publiables
                </h4>
                <p>
                    Configurer les CGU, les CGV et le Règlement Intérieur
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Termes publiables
                </h4>
            </div>
        </a>

    </div>

</div>

{% endblock %}
