{# {% extends 'base.html.twig' %} -> je ne veux pas de navbar dans la page login donc je supprime cette ligne #} 

{% block title %}Log in!{% endblock %}

{% block body %}


    <div>
        <div>
            <img src="/images/logo_formagestion.jpg" alt="le logo de l'outil FormaGestion, FG entrelacés, en noir et violet">
        </div>
        <h1>
            FORMA'GESTION
        </h1>
        <p>
            Créer et gérer vos formations,<br>
            en toute simplicité ! 
        </p>
        <div>
            <img src="/images/image_login.svg" alt="un homme assis dans un fauteuil design, deux mains croisées derrière la tête, qui regarde un oridnateur portable posé sur un guéridon">
        </div>
    </div>


    <div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            {#<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> pas besoin de ce titre#}
    
    
            
    
            <div></div>
            <div>
                <img class="fit-picture" src="/uploads/logos/logo_formatoque.png" alt="le logo de l'entreprise Forma'Toque" />
            </div>
    
            <div>
                <label for="username">Identifiant</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>
    
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>
    
            <div>
                <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
                >
            </div>
    
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
    
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}
    
            <div>
                <button class="btn btn-lg btn-primary" type="submit">
                    SE CONNECTER
                </button>
            </div>
        </form>
        <div>
            <p>
                Mot de passe perdu ?
            </p>
        </div>
    </div>
    

{% endblock %}
