{% extends 'base.html.twig' %}

{% block title %}Détail d'une société{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    {# messages flash #}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

    <h1>{{ societe.statutJuri|upper }} {{ societe.raisonSociale }}</h1>
    <h3>{{ societe.email|lower }}</h3>

    <div class="sous-cont">

        <div class="details-fiches">

            <div class="fiche-gauche">
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Statut :</span>&nbsp;<div>société</div>
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Téléphone :</span>&nbsp;<div>{% if societe.tel %}{{ societe.tel }}{% else %}N° de téléphone non renseigné{% endif %}</div>
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">N° SIRET :</span>&nbsp;<div>{% if societe.numSiret %}{{ societe.numSiret }}{% else %}N° SIRET non renseigné{% endif %}</div>
                </div>
    
            </div>
        
            <div class="fiche-droite">
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Adresse du siègle social :</span>&nbsp;<div>
                        {{ societe.adresseSiege }}<br>
                        {{ societe.codePostalSiege }} {{ societe.villeSiege|capitalize }}<br>
                        {{ societe.paysSiege|upper }}
                    </div>
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Adresse de facturation :</span>&nbsp;<div>
                        {{ societe.adresseFac }}<br>
                        {{ societe.codePostalFac }} {{ societe.villeFac|capitalize }}<br>
                        {{ societe.paysFac|upper }}
                    </div>
                </div>
                
            </div>
    
        </div>
        
    
        {#
        <div>
            Responsable légal : <div>
                {{ .prenom }} {{ .nom | upper }}<br>
                {{ .email }}<br>
                {{ .tel }}
            </div>
        </div>
    
        <div>
            Responsable administratif : <div>
                {{ .prenom }} {{ .nom | upper }}<br>
                {{ .email }}<br>
                {{ .tel }}
            </div>
        </div>
    
        <div>
            Responsable RH : <div>
                {{ .prenom }} {{ .nom | upper }}<br>
                {{ .email }}<br>
                {{ .tel }}
            </div>
        </div>
        #}
    
        <h2>Responsables de l'entreprise :</h2>
    
        <div class="details-responsables">  {# beaucoup de div mais j'ai repris la même organisation qu'au dessus #}
    
            {% for responsabilite in societe.responsabilites %}
    
                <div class="fiche-responsable">
                    <div class="fiche-champ">
                        <span class="fiche-violet">Responsable {{ responsabilite.typeResponsable }} :</span>&nbsp;<div>
                            <a href="{{ path('show_responsable', {'id' : responsabilite.responsable.id}) }}"><span class="fiche-orange"><i class="fa-solid fa-up-right-from-square"></i>{{ responsabilite.responsable.prenom|capitalize }} {{ responsabilite.responsable.nom|upper }}</span></a><br>
                            {{ responsabilite.responsable.email|lower }}<br>
                            {{ responsabilite.responsable.tel }}
                        </div>
                    </div>
                </div>
            
            {% endfor %}
    
        </div>
    
    
        <h2>Salariés de l'entreprise :</h2>
    
        {# on peut avoir nos 3 conditions puisque en réalité, une société possède soit des apprenants, soit des formateurs, soit personne mais jamais des formateurs et des apprenants mélangés 
        
        {% if societe.apprenants | length > 0 %}
    
            {% for apprenant in societe.apprenants %}
    
                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">{{ apprenant.prenom }} {{ apprenant.nom }} {{ apprenant.email }} {{ apprenant.tel }}</a> <br> 
    
            {% endfor %}
    
        {% elseif societe.formateurs | length > 0 %}
                
            {% for formateur in societe.formateurs %}
                        
                    <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.prenom }} {{ formateur.nom }} {{ formateur.email }} {{ formateur.tel }}</a><br>
                            
            {% endfor %}
        
        {% else %}
    
            <div>Aucun employé dans cette entreprise.</div>
            
        {% endif %}
    
        #}
    
    
        {# on établit une méthode plus performante qui autorise une société comportant des apprenants et des formateurs #}
    
        {% set apprenants_trouves = false %} {# On initialise une variable pour savoir si on a trouvé des apprenants #}
    
        {% for apprenant in societe.apprenants %}
    
            {% if apprenant %} {# on vérifie qu'on trouve au moins un apprenant dans la collection d'apprenants de la société #}
                {% set apprenants_trouves = true %} {# On met la variable à true dès qu'on trouve un apprenant #}
                <table class="societe-details-table">
                    <thead>
                        <tr>
                            <th class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">Prénom, NOM</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">Email</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">Téléphone</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">{{ apprenant.prenom|capitalize }} {{ apprenant.nom|upper }}<br>
                                <span class="mini-rose">Apprenant</span></a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">{{ apprenant.email|capitalize }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">
                                <a href="{{ path('show_apprenant', {'id' : apprenant.id}) }}">{{ apprenant.tel }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            
        {% endfor %}
    
        {% set formateurs_trouves = false %} {# On initialise une variable pour savoir si on a trouvé des formateurs #}
    
        {% for formateur in societe.formateurs %}
    
            {% if formateur %} {# on vérifie qu'on trouve au moins un formateur dans la collection de formateurs de la société #}
                {% set formateurs_trouves = true %} {# On met la variable à true dès qu'on trouve un formateur #}
                <table class="societe-details-table">
                    <thead>
                        <tr>
                            <th class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">Prénom, NOM</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">Email</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">Téléphone</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.prenom|capitalize }} {{ formateur.nom|upper }}<br>
                                <span class="mini-rose">Formateur</span></a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.email|capitalize }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_formateur', {'id' : formateur.id}) }}">
                                <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.tel }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            
        {% endfor %}
    
        {% if not apprenants_trouves and not formateurs_trouves %} {# Après la boucle for, on vérifie si les variables 'apprenants_trouves' et 'formateurs_trouves' sont toujours false. Si c'est le cas, cela signifie qu'aucun employé (formateur ou apprenant) n'a été trouvée, et donc on affiche le message "Aucun salarié de l’entreprise dans l’annuaire". #}
            <div class="msg-vide">Aucun salarié de l'entreprise dans l'annuaire</div>
        {% endif %}
    
    
        <div class="position-rose">
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-rose" href="{{ path('delete_societe', {'id' : societe.id}) }}"><i class="fa-solid fa-trash"></i>Supprimer</a>{% endif %} {# bouton pour supprimer la société' #}
    
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-rose" href="{{ path('edit_societe', {'id' : societe.id}) }}"><i class="fa-solid fa-pen-to-square"></i>Editer</a>{% endif %} {# bouton pour éditer la société #}
    
            <a class="btn btn-rose" href="{{ path('app_societe') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {# bouton pour retourner à la liste des sociétés #}
        </div>

    </div>

</div>

{% endblock %}
