{% extends 'base02.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

<div class="sous-cont">


    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h1-sans-h3">Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
    
        {{ form_row(requestForm.email) }}

        <div class="user-comment">
            Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </div>

        <div class="position-rose">
            <button class="btn btn-rose"><i class="fa-solid fa-square-check"></i>Valider</button>
        {{ form_end(requestForm) }}
        <a class="btn btn-rose" href="{{ path('app_login') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {# bouton pour retourner à la liste des utilisateurs #}
        </div>


</div>       

{% endblock %}
