{% extends 'base02.html.twig' %}

{# formulaire pour choisir un nouveau mot de passe #}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1 class="h1-sans-h3">Réinitialiser votre mot de passe</h1>

    <div class="sous-cont">

        {{ form_start(resetForm) }}

        <h2>Choisissez un nouveau mot de passe</h2>

        
        <div id="form-cell-plain-password"></div>
        <div class="form-ligne02">
            
                {{ form_row(resetForm.plainPassword, {'attr': {'id': 'form-cell-plain-password'}}) }}
            
        </div>

        {#<div class="form-ligne01">
            <div class="form-cell plain-password">
                {{ form_label(resetForm.plainPassword) }}
                {{ form_widget(resetForm.plainPassword, {'attr': {'id': 'plain-password-field'}}) }}
                {{ form_errors(resetForm.plainPassword) }}
            </div>
        </div>#}


        {# {{ form_label(resetForm.plainPassword) }}
        {{ form_widget(resetForm.plainPassword) }}
        {{ form_errors(resetForm.plainPassword) }} #}

        <div class="position-rose">
            <button class="btn btn-rose"><i class="fa-solid fa-square-check"></i>Valider</button>
        </div>

        {{ form_end(resetForm) }}

    </div>

</div>

{% endblock %}
