{% extends 'base.html.twig' %}

{% block title %}Détail d'un apprenant{% endblock %}

{% block body %}

    <div class="sous-cont">

        <h1>{{ apprenant.prenom|capitalize }} {{ apprenant.nom|upper }}</h1>
        <h3>{{ apprenant.email|lower }}</h3>

        <div class="details-fiches">

            <div class="fiche-gauche">

                <div class="fiche-champ">
                    <span class="fiche-violet">Statut :</span>&nbsp;<div>{% if apprenant.sexe == 'F' %}apprenante{% else %}apprenant{% endif %}</div>
                </div>
                
                <div class="fiche-champ">
                    <span class="fiche-violet">Adresse :</span>&nbsp;<div>
                        {{ apprenant.adresse }}<br>
                        {{ apprenant.codePostal }} {{ apprenant.ville|capitalize }}<br>
                        {{ apprenant.pays|upper }}
                    </div>
                </div>

                <div class="fiche-champ">
                    <span class="fiche-violet">Téléphone :</span>&nbsp;<div>{% if apprenant.tel %}{{ apprenant.tel }}{% else %}numéro non renseigné{% endif %}</div>
                </div>

            </div>
        
            <div class="fiche-droite">

                <div class="fiche-champ">
                    <span class="fiche-violet">Date de naissance :</span>&nbsp;<div>{{ apprenant.dateNaissance|date("d/m/Y") }}</div>
                </div>

                <div class="fiche-champ">
                    <span class="fiche-violet">Sexe :</span>&nbsp;<div>{{ apprenant.sexe|replace({'M': 'masculin', 'F': 'féminin'}) }}</div>
                </div>

                <div class="fiche-champ">
                    <span class="fiche-violet">Profession :</span>&nbsp;<div>{{ apprenant.metier|lower }}</div>
                </div>

                <div class="fiche-champ">
                    {% if apprenant.sexe == 'F' %}<span class="fiche-violet">Salariée</span>{% else %}<span class="fiche-violet">Salarié</span>{% endif %}<span class="fiche-violet">&nbsp;de la société :</span>&nbsp;<div>{% if apprenant.societe is not null %}<a href="{{ path('show_societe', {'id' : apprenant.societe.id}) }}"><span class="fiche-orange"><i class="fa-solid fa-up-right-from-square"></i>{{ apprenant.societe.raisonSociale }}</span></a>{% else %}non renseigné ou statut de particulier{% endif %}</div>
                </div>
                
            </div>

        </div>

        
    
        <h2>Sessions à venir :</h2> <!-- pour les 3 sections suivantes, il faut penser à passer la variable $now = new DateTime dans la méthode show_apprenant de l'ApprenantController -->
    
        {% set sessions_a_venir = false %} {# On initialise une variable pour savoir si on a trouvé des sessions à venir #}
    
        {% for inscription in apprenant.inscriptions %}
    
            {% if inscription.session.dateDebut > now and inscription.session.dateFin > now %}
                {% set sessions_a_venir = true %} {# On met la variable à true dès qu'on trouve une session #}
                <table class="apprenant-details-table">
                    <thead>
                        <tr>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}"> {# curseur en forme de main #}
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Référence de la session</a> {# on permet d'ouvrir un lien #}
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de début</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de fin</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Type</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Modalité</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Prix (€)</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }}<br>
                                <span class="mini-rose">{{ inscription.session.inscriptions | length }} apprenants inscrits sur {{ inscription.session.nbPlaces }} places</span></a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateDebut|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateFin|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.type|upper }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.modalites|capitalize }}</a> <!-- |capitalize pour avoir la première lettre en majuscule -->
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.prix }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            
        {% endfor %}
    
        {% if not sessions_a_venir %} {# Après la boucle for, on vérifie si la variable sessions_a_venir est toujours false. Si c'est le cas, cela signifie qu'aucune session n'a été trouvée, et donc on affiche le message "Aucune session à venir". #}
            <div class="msg-vide">Aucune session à venir</div>
        {% endif %}
    
    
    
    
        <h2>Sessions en cours :</h2> <!-- pour les 3 sections suivantes, il faut penser à passer la variable $now = new DateTime dans la méthode show_apprenant de l'ApprenantController -->
    
        {% set sessions_en_cours = false %} {# On initialise une variable pour savoir si on a trouvé des sessions en cours #}
    
        {% for inscription in apprenant.inscriptions %}
    
            {% if inscription.session.dateDebut <= now and inscription.session.dateFin >= now %}
                {% set sessions_en_cours = true %} {# On met la variable à true dès qu'on trouve une session #}
                <table class="apprenant-details-table">
                    <thead>
                        <tr>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}"> {# curseur en forme de main #}
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Référence de la session</a> {# on permet d'ouvrir un lien #}
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de début</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de fin</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Type</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Modalité</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Prix (€)</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }}<br>
                                <span class="mini-rose">{{ inscription.session.inscriptions | length }} apprenants inscrits sur {{ inscription.session.nbPlaces }} places</span></a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateDebut|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateFin|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.type|upper }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.modalites|capitalize }}</a> <!-- |capitalize pour avoir la première lettre en majuscule -->
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.prix }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            
        {% endfor %}
    
        {% if not sessions_en_cours %} {# Après la boucle for, on vérifie si la variable sessions_en_cours est toujours false. Si c'est le cas, cela signifie qu'aucune session n'a été trouvée, et donc on affiche le message "Aucune session en cours". #}
            <div class="msg-vide">Aucune session en cours</div>
        {% endif %}
    
    
    
    
        <h2>Sessions terminées :</h2> <!-- pour les 3 sections suivantes, il faut penser à passer la variable $now = new DateTime dans la méthode show_apprenant de l'ApprenantController -->
    
        {% set sessions_terminees = false %} {# On initialise une variable pour savoir si on a trouvé des sessions terminées #}
    
        {% for inscription in apprenant.inscriptions %}
    
            {% if inscription.session.dateDebut < now and inscription.session.dateFin < now %}
                {% set sessions_terminees = true %} {# On met la variable à true dès qu'on trouve une session #}
                <table class="apprenant-details-table">
                    <thead>
                        <tr>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}"> {# curseur en forme de main #}
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Référence de la session</a> {# on permet d'ouvrir un lien #}
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de début</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Date de fin</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Type</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Modalité</a>
                            </th>
                            <th class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">Prix (€)</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }}<br>
                                <span class="mini-rose">{{ inscription.session.inscriptions | length }} apprenants inscrits sur {{ inscription.session.nbPlaces }} places</span></a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateDebut|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.dateFin|date("d/m/Y") }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.type|upper }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.formation.modalites|capitalize }}</a> <!-- |capitalize pour avoir la première lettre en majuscule -->
                            </td>
                            <td class="clickable-row" data-href="{{ path('show_session', {'id' : inscription.session.id}) }}">
                                <a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.prix }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            
        {% endfor %}
    
        {% if not sessions_terminees %} {# Après la boucle for, on vérifie si la variable sessions_terminees est toujours false. Si c'est le cas, cela signifie qu'aucune session n'a été trouvée, et donc on affiche le message "Aucune session terminée". #}
            <div class="msg-vide">Aucune session terminée</div>
        {% endif %}
    
    
        <div class="postion-rose">
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-rose" href="{{ path('delete_apprenant', {'id' : apprenant.id}) }}"><i class="fa-solid fa-trash"></i>Supprimer</a>{% endif %} {# bouton pour supprimer l'apprenant' #}
    
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-rose" href="{{ path('edit_apprenant', {'id' : apprenant.id}) }}"><i class="fa-solid fa-pen-to-square"></i>Editer</a>{% endif %} {# bouton pour éditer l'apprenant #}
    
            <a class="btn btn-rose" href="{{ path('app_apprenant') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {# bouton pour retourner à la liste des apprenants #}
        </div>

    </div>


{% endblock %}


{# ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE - ANCIEN COMMENTAIRE -

{% if sessions | length > 0 %}  : dans le contexte PHP classique, on utilise count() pour savoir combien d'éléments existent dans la collection, dans le contexte TWIG, on utilise le filtre length

        <table>  
        </table>

    {% else %}

        <div>Aucun session n'est présente dans la base de données.</div>

{% endif %}




    <h2>Sessions à venir</h2>

    {% for inscription in apprenant.inscriptions %}

    {% if inscription.session.dateDebut > now and inscription.session.dateFin > now %}<a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }} {{ inscription.session.dateDebut | date("d/m/Y") }} {{ inscription.session.dateFin | date("d/m/Y") }} {{ inscription.session.formation.type }} {{ inscription.session.formation.modalites }} {{ inscription.session.nbPlaces }}</a><br>{% endif %}
        
    {% endfor %}
    
    <h2>Sessions en cours</h2>

    {% for inscription in apprenant.inscriptions %}

    {% if inscription.session.dateDebut <= now and inscription.session.dateFin >= now %}<a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }} {{ inscription.session.dateDebut | date("d/m/Y") }} {{ inscription.session.dateFin | date("d/m/Y") }} {{ inscription.session.formation.type }} {{ inscription.session.formation.modalites }} {{ inscription.session.nbPlaces }}</a><br>{% endif %}
        
    {% endfor %}

    <h2>Sessions terminées</h2>

    {% for inscription in apprenant.inscriptions %}

    {% if inscription.session.dateDebut < now and inscription.session.dateFin < now %}<a href="{{ path('show_session', {'id' : inscription.session.id}) }}">{{ inscription.session.titreSession }} {{ inscription.session.dateDebut | date("d/m/Y") }} {{ inscription.session.dateFin | date("d/m/Y") }} {{ inscription.session.formation.type }} {{ inscription.session.formation.modalites }} {{ inscription.session.nbPlaces }}</a><br>{% endif %}
        
    {% endfor %}

#}
