{% extends 'base02.html.twig' %}

{% block title %}{% if edit %}Editer un utilisateur{% else %}Ajouter un utilisateur{% endif %}{% endblock %}

{% block meta_description %}La vue de détails d'un utilisateur de l'outil de gestion administrative FORMA'GESTION et la possibilité d'éditer son profil.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    {% if not edit %}<h1>Créer un utilisateur</h1>{% else %}<h1>{{ user02.prenom }} {{ user02.nom }}</h1>{% endif %} {# dans UtilisateurController, on a bien passé la vriable : 'apprenants' => $apprenants #}
    {% if not edit %}<h3>Saisissez les informations essentielles du nouvel utilisateur</h3>{% else %}<h3>{{ user02.email }}</h3>{% endif %}

    <div class="sous-cont">
        
        {# {{ form(formAddUtilisateur) }} #}

        {{ form_start(formAddUtilisateur) }}

        <h2>Identité de l'utilisateur</h2>

        <div class="form-ligne01">
            <div class="form-cell user-nom">
                {{ form_label(formAddUtilisateur.nom) }}
                {{ form_widget(formAddUtilisateur.nom) }}
                {{ form_errors(formAddUtilisateur.nom) }}
            </div>

            <div class="form-cell user-prenom">
                {{ form_label(formAddUtilisateur.prenom) }}
                {{ form_widget(formAddUtilisateur.prenom) }}
                {{ form_errors(formAddUtilisateur.prenom) }}
            </div>
        </div>

        <div class="form-ligne01">
            <div class="form-cell user-role">
                {{ form_label(formAddUtilisateur.roles) }}
                {{ form_widget(formAddUtilisateur.roles) }}
                {{ form_errors(formAddUtilisateur.roles) }}
            </div>

            <div class="form-cell user-email">
                {{ form_label(formAddUtilisateur.email) }}
                {{ form_widget(formAddUtilisateur.email) }}
                {{ form_errors(formAddUtilisateur.email) }}
                {% if not edit %}<p class="user-comment">Cette adresse constituera l'identifiant de connexion de l'utilisateur. Un courriel sera envoyé à cette adresse pour confirmer la création du profil et inviter l'utilisateur à modifier son mot de passe.</p>{% endif %}
            </div>
        </div>

        <div class="position-rose">
            {{ form_end(formAddUtilisateur) }}
            {% if is_granted('ROLE_ADMIN') %}{% if edit %}<a class="btn btn-rose" href="{{ path('delete_utilisateur', {'id' : user02.id}) }}"><i class="fa-solid fa-trash"></i>Supprimer</a>{% endif %}{% endif %} {# bouton pour supprimer l'utilisateur ==> si on est en création, le bouton Supprimer ne s’affichera pas (logique, car l’utilisateur n’existe pas encore) #}
            <a class="btn btn-rose" href="{{ path('app_utilisateur') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {# bouton pour retourner à la liste des utilisateurs #}
        </div>
    </div>

</div>

{% endblock %}
