{% extends 'base02.html.twig' %}

{% block title %}{% if edit %}Editer un utilisateur{% else %}Ajouter un utilisateur{% endif %}{% endblock %}

{% block body %}

<div class="sous-cont">

    {% if not edit %}<h1>Créer un utilisateur</h1>{% else %}<h1>{{ user.prenom }} {{ user.nom }}</h1>{% endif %} {# dans UtilisateurController, on a bien passé la vriable : 'apprenants' => $apprenants #}
    {% if not edit %}<h3>Saisissez les informations essentielles du nouvel utilisateur</h3>{% else %}<h3>{{ user.email }}</h3>{% endif %}
    
    {# {{ form(formAddUtilisateur) }} #}

    {{ form_start(formAddUtilisateur) }}

        <h2>Identité de l'utilisateur</h2>

        <div>
            <div>
                {{ form_label(formAddUtilisateur.nom) }}
                {{ form_widget(formAddUtilisateur.nom) }}
                {{ form_errors(formAddUtilisateur.nom) }}
            </div>
    
            <div>
                {{ form_label(formAddUtilisateur.prenom) }}
                {{ form_widget(formAddUtilisateur.prenom) }}
                {{ form_errors(formAddUtilisateur.prenom) }}
            </div>
        </div>
        

        <div>
            {{ form_label(formAddUtilisateur.email) }}
            {{ form_widget(formAddUtilisateur.email) }}
            {{ form_errors(formAddUtilisateur.email) }}
        </div>

        {% if not edit %}<p>Cette adresse constituera l'identifiant de connexion de l'utilisateur. Un courriel sera envoyé à cette adresse pour confirmer la création du profil et inviter l'utilisateur à modifier son mot de passe.</p>{% endif %}


        <div>
            {{ form_label(formAddUtilisateur.roles) }}
            {{ form_widget(formAddUtilisateur.roles) }}
            {{ form_errors(formAddUtilisateur.roles) }}
        </div>


        <div class="postion-rose">
            {{ form_end(formAddUtilisateur) }}
            {% if is_granted('ROLE_ADMIN') %}{% if edit %}<a class="btn btn-rose" href="{{ path('delete_utilisateur', {'id' : user.id}) }}">Supprimer</a>{% endif %}{% endif %} {# bouton pour supprimer l'utilisateur ==> si on est en création, le bouton Supprimer ne s’affichera pas (logique, car l’utilisateur n’existe pas encore) #}
            <a class="btn btn-rose" href="{{ path('app_utilisateur') }}">Quitter</a> {# bouton pour retourner à la liste des utilisateurs #}
        </div>


</div>

{% endblock %}

