{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <h1>Sessions</h1>
    <h2>Récapitulatif des sessions en cours de traitement</h2>

    {% for session in sessions %}
        {{ session.titreSession }} nb actuel d'inscrit : {{ session.dateDebut | date("d-m-Y") }} {{ session.dateFin | date("d-m-Y") }} {{ session.formation.type }} {{ session.formation.modalites }} {{ session.nbPlaces }} <br>
    {% endfor %}

{% endblock %}