{% extends 'base.html.twig' %}

{% block title %}{% if edit %}Éditer une session{% else %}Ajouter une session{% endif %}{% endblock %}

{% block body %}

<div class="sous-cont">


    <h1>{% if not edit %}Créer{% else %}Modifier{% endif %} une session</h1> {# dans ApprenantController, on a bien passé la variable : 'apprenants' => $apprenants #}
    {% if not edit %}<h3>Saisissez les informations essentielles de la nouvelle session</h3>{% else %}<h3>Modifiez les informations essentielles de la session</h3>{% endif %}
        
        {#{{ form(formAddSession) }}#}

        {{ form_start(formAddSession) }}
        <h2>Présentation de la session</h2>

        <div class="form-ligne01">
            <div class="form-cell ses-titre">
                {{ form_label(formAddSession.titreSession) }}
                {{ form_widget(formAddSession.titreSession) }}
                {{ form_errors(formAddSession.titreSession) }}
            </div>
        </div>

        <div class="form-ligne01">
            <div class="form-cell ses-accroche">
                {{ form_label(formAddSession.accroche) }}
                {{ form_widget(formAddSession.accroche) }}
                {{ form_errors(formAddSession.accroche) }}
            </div>
        </div>

        <div class="form-ligne01">
            <div class="form-cell ses-formation">
                {{ form_label(formAddSession.formation) }}
                {{ form_widget(formAddSession.formation) }}
                {{ form_errors(formAddSession.formation) }}
            </div>
        </div>

        <h2>Modalités</h2>

        <div class="form-ligne01">
            <div class="form-cell nbplaces">
                {{ form_label(formAddSession.nbPlaces) }}
                <!-- Ajout de l'attribut 'data-nb-places' pour la gestion dynamique des champs -->
                {{ form_widget(formAddSession.nbPlaces, {'attr': {'data-nb-places': 'true'}}) }} {# {{ form_widget(formAddSession.nbPlaces) }} #}
                {{ form_errors(formAddSession.nbPlaces) }}
            </div>
    
            <div class="form-cell nbmodules">
                {{ form_label(formAddSession.nbModules) }}
                <!-- Ajout de l'attribut 'data-nb-modules' pour la gestion dynamique des champs -->
                {{ form_widget(formAddSession.nbModules, {'attr': {'data-nb-modules': 'true'}}) }} {# {{ form_widget(formAddSession.nbModules) }} #}
                {{ form_errors(formAddSession.nbModules) }}
            </div>

            <div class="form-cell ses-date-debut">
                {{ form_label(formAddSession.dateDebut) }}
                {{ form_widget(formAddSession.dateDebut) }}
                {{ form_errors(formAddSession.dateDebut) }}
            </div>
    
            <div class="form-cell ses-date-fin">
                {{ form_label(formAddSession.dateFin) }}
                {{ form_widget(formAddSession.dateFin) }}
                {{ form_errors(formAddSession.dateFin) }}
            </div>
        </div>

        <h2>Encadrement</h2>

        <div class="form-ligne01">
            <div class="form-cell ref-peda">
                {{ form_label(formAddSession.referentPedagogique) }}
                {{ form_widget(formAddSession.referentPedagogique) }}
                {{ form_errors(formAddSession.referentPedagogique) }}
            </div>

            <div class="form-cell ref-admin">
                {{ form_label(formAddSession.referentAdministratif) }}
                {{ form_widget(formAddSession.referentAdministratif) }}
                {{ form_errors(formAddSession.referentAdministratif) }}
            </div>
        </div>

        <h2>Questionnaires</h2>

        <div class="form-ligne01">
            <div class="form-cell ques-prefor">
                {{ form_label(formAddSession.questionnairePrefor) }}
                {{ form_widget(formAddSession.questionnairePrefor) }}
                {{ form_errors(formAddSession.questionnairePrefor) }}
            </div>

            <div class="form-cell ques-chaud">
                {{ form_label(formAddSession.questionnaireChaud) }}
                {{ form_widget(formAddSession.questionnaireChaud) }}
                {{ form_errors(formAddSession.questionnaireChaud) }}
            </div>

            <div class="form-cell ques-froid">
                {{ form_label(formAddSession.questionnaireFroid) }}
                {{ form_widget(formAddSession.questionnaireFroid) }}
                {{ form_errors(formAddSession.questionnaireFroid) }}
            </div>
        </div>

        <h2>Inscriptions avec tarifs</h2>

        <!-- Conteneur dynamique pour l'inscription des apprenants -->
        <div id="apprenants-container" data-prototype="{{ form_widget(formAddSession.apprenantsInscrits.vars.prototype)|e('html_attr') }}">
            {% for apprenantField in formAddSession.apprenantsInscrits %}
                <!-- Chaque champ d'apprenant est enveloppé dans un div avec la classe 'apprenant-entry' -->
                <div class="form-ligne01">{{ form_row(apprenantField) }}</div> {# <div class="apprenant-entry">{{ form_row(apprenantField) }}</div> #}
            {% endfor %}
        </div>

        <h2>Planification de la session</h2>

        <!-- Conteneur dynamique pour l'inscription des apprenants -->
        <div id="modules-container" data-prototype="{{ form_widget(formAddSession.planificationSessions.vars.prototype)|e('html_attr') }}">
            {% for moduleField in formAddSession.planificationSessions %}
                <!-- Chaque champ de module est enveloppé dans un div avec la classe 'module-entry' -->
                <div class="module-entry">{{ form_row(moduleField) }}</div>
            {% endfor %}
        </div>


        <!-- Fin du formulaire -->
        <div class="position-rose">
            {{ form_end(formAddSession) }}
            <a class="btn btn-rose" href="{{ path('app_session') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {#--------- bouton pour retourner à la liste des sessions -------#}
        </div>

        <!-- Inclusion du script JavaScript pour la gestion dynamique des champs d'inscription -->
        <script src="{{ asset('js/form-dynamique.js') }}"></script>

        <!-- Inclusion du script JavaScript pour la gestion dynamique des champs de planification -->
        <script src="{{ asset('js/form-dynamique-02.js') }}"></script>


</div>
    
{% endblock %}

{# {{ form(form) }} -> la fonction form permet de récup le formulaire, le deuxième form est le nom qui provient du controleur : on change ce nom pour éviter les confusions #}
