{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>{{ session.formation.nomFormation }}</h1>
    <h3>du {{ session.dateDebut|date("d/m/Y") }} au {{ session.dateFin|date("d/m/Y") }}</h3>

    <div>
        Type : {{ session.formation.type|upper }}<br>
        Modalité : en {{ session.formation.modalites|lower }}<br>
        Durée totale : {{ session.formattedDuration }}<br>
        Prix total : {{ session.totalPrice }}<br>{# autre méthode possible : {% set somme = 0 %} {% for inscription in session.inscriptions %}{% set somme = somme + inscription.prix %}{% endfor %}{{ somme }} euros<br> #}
        Nb de places restantes : {{ session.nbPlaces  -  session.inscriptions|length }}<br>
    </div>

    <h2>
        Formateurs référents de la session :  
    </h2>

    <div>
        {% for encadrement in session.encadrements %}

            référent {{ encadrement.typeReferent }}<br>
            <a href="{{ path('show_formateur', {'id' : encadrement.formateur.id}) }}">{{ encadrement.formateur.prenom|capitalize }} {{ encadrement.formateur.nom|upper }}</a><br>
            {{ encadrement.formateur.email }}<br>
            {{ encadrement.formateur.tel }}

        {% endfor %}
    </div>
    

    <h2>
        Apprenants inscrits à la session :  
    </h2>

    {#
    {% for inscription in session.inscriptions %}

        <a href="{{ path('show_apprenant', {'id' : inscription.apprenant.id}) }}">{{ inscription.apprenant.prenom|capitalize }} {{ inscription.apprenant.nom|upper }} {{ inscription.apprenant.email }} {{ inscription.apprenant.tel }}{% if inscription.apprenant.societe is not null %} {{ inscription.apprenant.societe.raisonSociale }}{% else %} -{% endif %}</a><br>
        
    {% endfor %}
    #}


    {% set apprenants_trouves = false %} {# On initialise une variable pour savoir si on a trouvé des apprenants inscrits (en réalité, si on trouve une inscription) en cours #}

    {% for inscription in session.inscriptions %}

        {% if inscription %} {# on vérifie qu'on trouve au moins une inscription dans la collection d'inscriptions de la session #}
            {% set apprenants_trouves = true %} {# On met la variable à true dès qu'on trouve un apprenant #}
            <table>
                <thead>
                    <tr>
                        <th>
                            Prénom, NOM
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Téléphone
                        </th>
                        <th>
                            Société
                        </th>
                        <th>
                            Prix (en euros)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ path('show_apprenant', {'id' : inscription.apprenant.id}) }}">{{ inscription.apprenant.prenom|capitalize }} {{ inscription.apprenant.nom|upper }} </a>
                        </td>
                        <td>
                            {{ inscription.apprenant.email|lower }}
                        </td>
                        <td>
                            {{ inscription.apprenant.tel }}
                        </td>
                        <td>
                            {% if inscription.apprenant.societe is not null %} {{ inscription.apprenant.societe.raisonSociale }}{% else %} -{% endif %}
                        </td>
                        <td>
                            {{ inscription.prix }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        
    {% endfor %}

    {% if not apprenants_trouves %} {# Après la boucle for, on vérifie si la variable 'apprenants_trouves' est toujours false. Si c'est le cas, cela signifie qu'aucun apprenant (en réalité, aucune inscription) n'a été trouvé, et donc on affiche le message "Aucun apprenant de l'annuaire inscrit à cette session". #}
        <div>Aucun apprenant de l'annuaire inscrit à cette session</div>
    {% endif %}



    <h2>
        Modules enseignés pendant la session : 
    </h2>

    {% for planification in session.planifications %}

        <div>
            <a href="{{ path('show_module', {'id' : planification.module.id}) }}">{{ planification.module.nomModule }}</a><br>
            Desription : {{ planification.module.description }}<br>
            Durée : {{ planification.formattedDuration02 }}<br>   
            {{ planification.datesModule }}<br><br><br> {# ancienne méthode -> du {{ planification.dateDebut|date("d/m/Y") }} à {{ planification.dateDebut|date("H:i") }} au {{ planification.dateFin|date("d/m/Y") }} à {{ planification.dateFin|date("H:i") }}<br> #}
        </div>
        
    {% endfor %}

    <div>
        <a class="btn btn-rose" href="{{ path('delete_session', {'id' : session.id}) }}">Supprimer</a> {# bouton pour supprimer la session #}

        <a class="btn btn-rose" href="{{ path('edit_session', {'id' : session.id}) }}">Editer</a> {# bouton pour éditer la session #}

        <a class="btn btn-rose" href="{{ path('app_session') }}">Quitter</a> {# bouton pour retourner à la liste des sessions #}
    </div>

{% endblock %}


 {#
public function getFormattedDuration()
#}


 {# #}


 

