{% extends 'base.html.twig' %}

{% block title %}Suivi administratif d'une session{% endblock %}

{% block body %}

    <h1>Suivi administratif : {{ session.formation.nomFormation }}</h1>
    <h3>du {{ session.dateDebut|date("d/m/Y") }} au {{ session.dateFin|date("d/m/Y") }}</h3>

    <div>
        Type : {{ session.formation.type|upper }}<br>
        Modalité : en {{ session.formation.modalites|lower }}<br>
        Durée totale : {{ session.formattedDuration }}<br>
        Prix total : {{ session.totalPrice }}<br>{# autre méthode possible : {% set somme = 0 %} {% for inscription in session.inscriptions %}{% set somme = somme + inscription.prix %}{% endfor %}{{ somme }} euros<br> #}
        Nb de places restantes : {{ session.nbPlaces  -  session.inscriptions|length }}<br>
    </div>

    <h2>
        Formateurs référents de la session :  
    </h2>

    <div>
        {% for encadrement in session.encadrements %}

            référent {{ encadrement.typeReferent }}<br>
            <a href="{{ path('show_formateur', {'id' : encadrement.formateur.id}) }}">{{ encadrement.formateur.prenom|capitalize }} {{ encadrement.formateur.nom|upper }}</a><br>
            {{ encadrement.formateur.email }}<br>
            {{ encadrement.formateur.tel }}<br>

        {% endfor %}
    </div>


    <h1>test tableau</h1>


    {% if societesEtApprenants is not empty %}
        <table>
            <tbody>
                {% set current_societe = null %}
                {% for ligne in societesEtApprenants %}
                    {# Si on passe à une nouvelle société, on affiche la ligne de la société #}
                    {% if current_societe != ligne.raisonSociale %}
                        <tr>
                            <td colspan="2">{{ ligne.raisonSociale }}</td>
                            <td>{{ prixParSociete[ligne.societeId]|number_format(2, ',', ' ') }} €</td>
                            <td><a href="{{ path('convention', {sessionId: session.id, societeId: ligne.societeId}) }}" class="boutondocu">Générer la convention</a></td>
                        </tr>
                        {% set current_societe = ligne.raisonSociale %}
                    {% endif %}

                    {# Ligne d'un apprenant #}
                    <tr>
                        <td>{{ ligne.prenom }}</td>
                        <td colspan="2">{{ ligne.nom }}</td>
                        <td>{{ ligne.email }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune société n'a d'apprenants sur cette session.</p>
    {% endif %}


    
    <div>
        {# <a class="btn btn-rose" href="{{ path('delete_session', {'id' : session.id}) }}">Supprimer</a>  bouton pour supprimer la session : pas dans suivi administratif #}

        {# <a class="btn btn-rose" href="{{ path('edit_session', {'id' : session.id}) }}">Editer</a>  bouton pour éditer la session : pas dans suivi administratif #}

        <a class="btn btn-rose" href="{{ path('suivi_app_session') }}">Quitter</a> {# bouton pour retourner à la liste des sessions du suivi administratif #}
    </div>

{% endblock %}


 {#
public function getFormattedDuration()
#}


 {#

prixParSociete[ligne.societeId]

Traduction en PHP : $prixParSociete[$ligne['societeId']]
prixParSociete est un tableau PHP classique dans lequel la clé est l'id de la société.
ligne.societeId récupère la valeur de la clé societeId dans $ligne
Le résultat est le bon index utilisé pour accéder à la valeur dans prixParSociete.

 #}

