{% extends 'base.html.twig' %}

{% block title %}Suivi administratif d'une session{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1 class="session-h1">Suivi administratif : {{ session.formation.nomFormation }}</h1>
    <h3 class="session-h3">du {{ session.dateDebut|date("d/m/Y") }} au {{ session.dateFin|date("d/m/Y") }}</h3>

    <div class="sous-cont">

        <div class="details-fiches">

            <div class="fiche-gauche">
                <div class="fiche-champ">
                    <span class="fiche-violet">Type :</span>&nbsp;<div>{{ session.formation.type|upper }}</div>
                </div>
                
                <div class="fiche-champ">
                    <span class="fiche-violet">Modalités :</span>&nbsp;<div>en {{ session.formation.modalites|lower }}</div>
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Durée totale :</span>&nbsp;<div>{{ session.formattedDuration }}</div>
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Prix total :</span>&nbsp;<div>{{ session.totalPrice }}</div> {# autre méthode possible : {% set somme = 0 %} {% for inscription in session.inscriptions %}{% set somme = somme + inscription.prix %}{% endfor %}{{ somme }} euros<br> #}
                </div>
    
                <div class="fiche-champ">
                    <span class="fiche-violet">Nb de places restantes :</span>&nbsp;<div>{{ session.nbPlaces  -  session.inscriptions|length }}</div>
                </div>
            </div>
        
            <div class="fiche-droite">
                {% for encadrement in session.encadrements %}
                    <div class="fiche-champ">
                        <span class="fiche-violet">référent {{ encadrement.typeReferent }} :</span>&nbsp;<div>
                            <a href="{{ path('show_formateur', {'id' : encadrement.formateur.id}) }}"><span class="fiche-orange"><i class="fa-solid fa-up-right-from-square"></i>{{ encadrement.formateur.prenom|capitalize }} {{ encadrement.formateur.nom|upper }}</span></a><br>
                            {{ encadrement.formateur.email }}<br>
                            {{ encadrement.formateur.tel }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <h2>Tableau récapitulatif</h2>
    
            <table class="recap-table">
                <tbody>
                    {% set current_societe = null %}
                    {% for ligne in societesEtApprenants %}
                        {# Si on passe à une nouvelle société, on affiche la ligne de la société #}
                        {% if current_societe != ligne.raisonSociale %}
                            <tr class="suivi-bande-couleur">
                                <td>
                                    {{ ligne.raisonSociale }}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ prixParSociete[ligne.societeId]|number_format(2, ',', ' ') }} €
                                </td>
                                <td>
                                    <a href="{{ path('generer_convention', {sessionId: session.id, societeId: ligne.societeId}) }}" class="boutondocu">4</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_convention_pdf', {sessionId: session.id, societeId: ligne.societeId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">4*</a>
                                </td>
                            </tr>
                            {% set current_societe = ligne.raisonSociale %}
                        {% endif %}
    
                        {# Ligne d'un apprenant #}
                        <tr class="suivi-bande-blanche">
                            <td>
                                {{ ligne.prenom }} {{ ligne.nom }} {{ ligne.email }}
                            </td>
                            <td>
                                <a href="{{ path('generer_convocation', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu">3</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_convocation_pdf', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">3*</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_assiduite', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu">10</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_assiduite_pdf', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">10*</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_fin_formation', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu">6</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_fin_formation_pdf', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">6*</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_presence', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu">7</a>
                            </td>
                            <td>
                                <a href="{{ path('generer_attestation_presence_pdf', {sessionId: session.id, apprenantId: ligne.apprenantId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">7*</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

            <table class="recap-table">
                <tbody>
                    <tr class="suivi-bande-couleur">
                        <td>
                            Apprenants particuliers
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                        <td>
                            <!-- vide pour le moment -->
                        </td>
                    </tr>

                    {% set particuliers = false %} {# On initialise une variable pour savoir si on a trouvé des apprenants particuliers #}
                    
                    {% for line in apprenantsParticuliers %}
                        {% if line %}
                            {% set particuliers = true %}
                            <tr class="suivi-bande-blanche">
                                <td>
                                    {{ line.prenom }} {{ line.nom }} {{ line.email }}
                                </td>
                                <td>
                                    <a href="{{ path('generer_convocation', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu">3</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_convocation_pdf', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">3*</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_assiduite', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu">10</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_assiduite_pdf', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">10*</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_fin_formation', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu">6</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_fin_formation_pdf', {sessionId: session.id, apprenantId: line.id}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">6*</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_presence', {sessionId: session.id, apprenantId: line.apprenantId}) }}" class="boutondocu">7</a>
                                </td>
                                <td>
                                    <a href="{{ path('generer_attestation_presence_pdf', {sessionId: session.id, apprenantId: line.apprenantId}) }}" class="boutondocu" target="_blank" rel="noopener noreferrer">7*</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if not particuliers %} {# Après la boucle for, on vérifie si la variable sessions_a_venir est toujours false. Si c'est le cas, cela signifie qu'aucune session n'a été trouvée, et donc on affiche le message "Aucune session à venir". #}
                        <td colspan="9">Aucune particulier n'a participé à cette session.</td>
                    {% endif %}
                </tbody>
            </table>
    
        <div class="position-rose">
            {# <a class="btn btn-rose" href="{{ path('delete_session', {'id' : session.id}) }}">Supprimer</a>  bouton pour supprimer la session : pas dans suivi administratif #}
    
            {# <a class="btn btn-rose" href="{{ path('edit_session', {'id' : session.id}) }}">Editer</a>  bouton pour éditer la session : pas dans suivi administratif #}
    
            <a class="btn btn-rose" href="{{ path('suivi_app_session') }}"><i class="fa-solid fa-right-from-bracket"></i>Quitter</a> {# bouton pour retourner à la liste des sessions du suivi administratif #}
        </div>

    </div>

</div>

{% endblock %}

{#
public function getFormattedDuration()
#}

{#

prixParSociete[ligne.societeId]

Traduction en PHP : $prixParSociete[$ligne['societeId']]
prixParSociete est un tableau PHP classique dans lequel la clé est l'id de la société.
ligne.societeId récupère la valeur de la clé societeId dans $ligne
Le résultat est le bon index utilisé pour accéder à la valeur dans prixParSociete.

#}
