{% extends 'base.html.twig' %}

{% block title %}Liste des modules d'enseignement{% endblock %}

{% block meta_description %}La liste complète des modules présents dans votre base de données, avec les informations nécessaires au fonctionnement de l'outil de gestion administrative FORMA'GESTION.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Modules d'enseignement</h1>
    <h3>Récapitulatif des modules qui forment le contenu des formations proposées</h3>

    <div class="sous-cont">

        <div class="position-purple">
            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('construction') }}" class="btn btn-rose"><i class="fa-solid fa-folder-plus"></i>Créer un module</a>{% endif %} {# ce bouton n'est pas actif dans le MVP #}
        </div>
    
        {% if modules|length > 0 %} <!-- dans le contexte PHP classique, on utilise count() pour savoir combien d'éléments existent dans la collection, dans le contexte TWIG, on utilise le filtre length -->
    
            <table class="apprenants-table">
                <thead>
                    <tr>
                        <th>
                            Nom du module d'enseignement
                        </th>
                        <th>
                            Catégorie
                        </th>
                        <th>
                            <!-- vide : colonne pour les icones édition -->
                        </th>
                        <th>
                            <!-- vide : colonne pour les icones édition -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules %}
                        <tr>
                            <td class="clickable-row" data-href="{{ path('construction') }}">
                                <a href="{{ path('construction') }}">{{ module.description }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('construction') }}">
                                <a href="{{ path('construction') }}">{{ module.categorie.nomCategorie }}</a>
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}<a class="icon-btn-gris" href="{{ path('construction') }}"><i class="fa-solid fa-pen-to-square"></i></a>{% endif %} {# bouton pour éditer le module #}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}<a class="icon-btn-gris" href="{{ path('construction') }}"><i class="fa-solid fa-trash"></i></a>{% endif %} {# bouton pour supprimer le module #}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        {% else %}
    
            <div>Aucun module n'est présent dans la base de données.</div>
    
        {% endif %}

    </div>

</div>

{% endblock %}
