<!DOCTYPE html>
<!-- PAGES ORANGES -->
<!-- PAGES ORANGES -->
<!-- PAGES ORANGES -->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset('css/navbar.css')}}">
            <link rel="stylesheet" href="{{ asset('css/navbar02.css')}}">
            <link rel="stylesheet" href="{{ asset('css/breadcrumborange.css')}}">
            <link rel="stylesheet" href="{{ asset('css/style02.css')}}">
        {% endblock %}
    </head>

    <body>
        <div class="container">

            <header>
                {% include 'navbar.html.twig' %} {# Inclusion de la navbar #}

                {% include 'navbar02.html.twig' %} {# Inclusion de la navbar #}
            </header>
    
            <main> {# ici, on affiche le contenu de la page. #}
                {# Inclusion du fil d'Ariane juste sous la navbar, en dehors du header #}
                {% if breadcrumbs is defined %} {# on vérifie si la variable breadcrumbs existe avant d'afficher le fil d'Ariane #}
                    {% include 'breadcrumb.html.twig' %} {# on appelle le fichier breadcrumb.html.twig pour afficher la barre de navigation #}
                {% endif %}
    
                {% block body %}{% endblock %}
            </main>

        </div>

        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
