<!DOCTYPE html>
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Document PDF{% endblock %}</title>
        
        <style>

            @page {
                header: myheader;
                footer: myfooter;
                margin-top: 120px;
                margin-bottom: 50px;
            }

            body {
                font-family: Arial, sans-serif;
                font-size: 14px;
                color: #5f5f5f;
                line-height: 1.6;
                margin: 20mm;
            }

            .header {
                text-align : right;
                margin-top : 15px; /* on ne souhaite pas coller le logo en haut du document */
                margin-right : 30px; /* on ne souhaite pas coller le logo au bord du document */
                width: 150px;
                height: 50px;
                object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
            }

            .header img {
                max-height: 60px;
            }


            h1 {
                color :#bd1e73; /* Change la couleur du texte en rose */
                font-size: 26px; /* définit la taille de la police à 26 pixels */
                border-top: 3px solid #ff9944;   /* Ecriture abrégé : bordure en haut */
                border-bottom: 3px solid #ff9944; /* Ecriture abrégé : bordure en bas */
                border-left: none;  /* Pas de bordure à gauche */
                border-right: none; /* Pas de bordure à droite */
                padding: 10px; /* Espace entre le texte et la bordure */
                /* display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /* border-radius: 10px;  on arrondit les coins => c'est moche en fait !  */
            }

            h2 {
                color :#bd1e73; /* Change la couleur du texte en bleu */
                font-size: 20px; /* définit la taille de la police à 30 pixels */
                /* border : 3px solid red; */
                /*border-width: 3px; /* Épaisseur */
                /*border-style: solid;  Style plein */
                /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
                /*padding: 10px;  Espace entre le texte et la bordure */
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            h3 {
                color :#4449d5; /* Change la couleur du texte en bleu */
                /* border : 3px solid red; */
                /*border-width: 3px; /* Épaisseur */
                /*border-style: solid;  Style plein */
                /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
                /*padding: 10px;  Espace entre le texte et la bordure */
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            .signatures {
                display : flex;
                justify-content: space-around;
                margin-top: 50px;
            }


            .signatures > div {
                width: 45%;
                text-align: center;
            }


            .signature {
                margin-top: 30px;
                height: 80px;
            }
            

            .signature img {
                width: 200px;
                height: 200px;
                object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
                /* border: 1px solid #a92b2b;  Ajouter une bordure douce autour de l'image */
                /* border-radius: 8px;  Bordures arrondies */
            }

            /* Ligne de séparation dans l'en-tête */
            hr {
                border: none;
                height: 1px;
                background-color: #d6d6d6;
                margin: 10px 0 30px 0;
            }


            .footer {
                position: fixed;
                font-family: Arial, sans-serif;  /* Police simple et professionnelle - conseil Mathilde : plus joli que Verdana */
                color: #979797;  /* couleur du texte en gris moyen */
                font-size: 10px; /* définit la taille de la police à 10 pixels */
                text-align: center; /* centre horizontalement le texte dans le bloc .footer */
                margin-top: 30px; /* ajoute un espace vide de 30 pixels au-dessus de .footer => séparer le pied de page du contenu qui le précède */
                padding-top: 10px; /* ajoute un espace intérieur de 10 pixels en haut du bloc .footer => il donne de l'air après la bordure (qui sera ajoutée juste en dessous) pour que le texte ne soit pas collé */
                border-top: 1px solid #d8d8d8; /* ajoute une bordure supérieure (1 pixel d'épaisseur, trait plein (solid), gris clair (#d8d8d8)) => séparer visuellement le pied de page du reste du contenu avec un trait discret */
                line-height: 1.4; /* définit l’espacement vertical entre les lignes de texte (hauteur de ligne) à 1.4 fois la taille de la police => améliore la lisibilité */
            }


            /* Pied de page si besoin
            .footer {
                bottom: 20mm;
                left: 20mm;
                right: 20mm;
            } */


        </style>

        {% block stylesheets %} {% endblock %}

    </head>


    <body>


        {# Bloc pour le header global de DomPDF #}
        <htmlpageheader name="myheader">
            {% block pdf_header %}
            <div class="header">
                <img src="{{ logoUrl }}"  alt="Logo de l'entreprise {{ entreprise.raisonSociale }}"/>
            </div>  
            {% endblock %}
        </htmlpageheader>
    

        {# Bloc de contenu #}
        {% block body %}{% endblock %}


        {# Footer de DomPDF #}
        <htmlpagefooter name="myfooter">
            {% block pdf_footer %}
                <div class="footer">
                    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, Diététicienne-Qualiticienne - N° SIRET : {{ entreprise.numSiret }} - Tel : {{ entreprise.tel }}<br>
                    Activité enregistrée sous le n° {{ entreprise.numDeclaActivite }} auprès de la région {{ entreprise.prefectureRegion }}
                </div>
            {% endblock %}
        </htmlpagefooter>

    </body>
</html>
