<!DOCTYPE html>
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Document PDF{% endblock %}</title>
        
        <style>

            @page {
                header: myheader;
                footer: myfooter;
                margin: 0px;
            }

            body {
                font-family: Arial, sans-serif;
                font-size: 14px;
                color: #5f5f5f;
                line-height: 1.6;
                margin: 20mm;
            }

            .cont-logo-base64 {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

            .cont-logo-base64 img {
                max-height: 60px;
                object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
            }

            .cont-tampon-base64 {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

            .cont-tampon-base64 img {
                max-height: 200px;
                object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
            }

            h1 {
                color :#bd1e73; /* Change la couleur du texte en rose */
                font-size: 18px; /* définit la taille de la police à 26 pixels */
                border-top: 3px solid #ff9944;   /* Ecriture abrégé : bordure en haut */
                border-bottom: 3px solid #ff9944; /* Ecriture abrégé : bordure en bas */
                border-left: none;  /* Pas de bordure à gauche */
                border-right: none; /* Pas de bordure à droite */
                padding-top: 5px; /* Espace entre le texte et la bordure haute */
                padding-bottom: 10px; /* Espace entre le texte et la bordure basse */
                /* display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /* border-radius: 10px;  on arrondit les coins => c'est moche en fait !  */
            }

            h2 {
                color :#bd1e73; /* Change la couleur du texte en bleu */
                font-size: 20px; /* définit la taille de la police à 30 pixels */
                /* border : 3px solid red; */
                /*border-width: 3px; /* Épaisseur */
                /*border-style: solid;  Style plein */
                /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
                /*padding: 10px;  Espace entre le texte et la bordure */
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            h3 {
                color :#4449d5; /* Change la couleur du texte en bleu */
                /* border : 3px solid red; */
                /*border-width: 3px; /* Épaisseur */
                /*border-style: solid;  Style plein */
                /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
                /*padding: 10px;  Espace entre le texte et la bordure */
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            /* style des tableaux du doc "convention" */
            .convention-table {
                border-collapse: collapse;
                width: 100%;
            }

            .convention-table th {
                background-color: aquamarine;
            }

            .convention-table th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }

            /*
            .signatures {
                display : flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start; /* Aligne les éléments au début 
                margin-top: 50px;
                width: 100%; /* Assure que le conteneur prend toute la largeur 
            }

            .signatures > div {
                width: 45%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .signature {
                margin-top: 30px;
                height: 80px;
                width: 100%; /* Assure que le conteneur de signature prend toute la largeur 
                display: flex;
                justify-content: center;
            }
            
            .signature img {
                width: 200px;
                height: auto; /* Permet à l'image de garder ses proportions 
                object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée 
            }
            */

            .signatures {
                width: 100%;
                margin-top: 10px;
                clear: both;
            }
            
            .signatures > div {
                width: 45%;
                text-align: center;
                float: left;
            }
            
            .signatures > div:first-child {
                margin-right: 5%;
            }
            
            .signatures > div:last-child {
                margin-left: 5%;
            }
            
            .signature {
                margin-top: 30px;
                height: 80px;
                width: 100%;
            }
            
            .signature img {
                width: 200px;
                height: auto;
                max-height: 200px;
            }



            .footer {
                /*position: fixed;*/
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial, sans-serif;  /* Police simple et professionnelle - conseil Mathilde : plus joli que Verdana */
                color: #979797;  /* couleur du texte en gris moyen */
                font-size: 10px; /* définit la taille de la police à 10 pixels */
                text-align: center; /* centre horizontalement le texte dans le bloc .footer */
                margin-top: 0px; /* ajoute un espace vide de 30 pixels au-dessus de .footer => séparer le pied de page du contenu qui le précède */
                padding-top: 10px; /* ajoute un espace intérieur de 10 pixels en haut du bloc .footer => il donne de l'air après la bordure (qui sera ajoutée juste en dessous) pour que le texte ne soit pas collé */
                border-top: 1px solid #d8d8d8; /* ajoute une bordure supérieure (1 pixel d'épaisseur, trait plein (solid), gris clair (#d8d8d8)) => séparer visuellement le pied de page du reste du contenu avec un trait discret */
                line-height: 1.4; /* définit l’espacement vertical entre les lignes de texte (hauteur de ligne) à 1.4 fois la taille de la police => améliore la lisibilité */
            }

        </style>

        {% block stylesheets %} {% endblock %}

    </head>

    <body>

        {# Bloc pour le header global de DomPDF #}
        <htmlpageheader name="myheader">
            {% block pdf_header %}
              
            {% endblock %}
        </htmlpageheader>
    
        {# Bloc de contenu #}
        {% block body %}{% endblock %}

        {# Footer de DomPDF #}
        <htmlpagefooter name="myfooter">
            {% block pdf_footer %}
                {#<div class="footer">
                    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, Diététicienne-Qualiticienne - N° SIRET : {{ entreprise.numSiret }} - Tel : {{ entreprise.tel }}<br>
                    Activité enregistrée sous le n° {{ entreprise.numDeclaActivite }} auprès de la région {{ entreprise.prefectureRegion }}
                </div>#}
            {% endblock %}
        </htmlpagefooter>

    </body>
</html>
