<!DOCTYPE html>
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<!-- DOCUMENTS PDF -->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Document PDF{% endblock %}</title>

        <!-- Méta-description -->
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        <style>

            @page {
                header: myheader;
                footer: myfooter;
                margin: 0px;
            }

            .car-unicode {
                font-family: 'DejaVu Sans', Arial, sans-serif; /* police qui supporte les caractères spéciaux */
                color: #5f5f5f;
                line-height: 1;
                /*font-size: 14px;
                line-height: 1.6;
                margin: 20mm;*/
            }

            body {
                font-family: Arial, sans-serif;
                font-size: 14px;
                color: #5f5f5f;
                line-height: 1.6;
                /* margin: 20mm; */
                margin-top: 10mm;
                margin-bottom: 10mm;
                margin-left: 20mm;
                margin-right: 20mm;
            }

            .cont-logo-base64 {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

            .cont-logo-base64 img {
                max-height: 60px;
                object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
            }

            .cont-tampon-base64 {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

            .cont-tampon-base64 img {
                max-height: 200px;
                object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
            }

            h1 {
                color :#bd1e73; /* Change la couleur du texte en rose */
                font-size: 18px; /* définit la taille de la police à 26 pixels */
                border-top: 3px solid #ff9944;   /* Ecriture abrégé : bordure en haut */
                border-bottom: 3px solid #ff9944; /* Ecriture abrégé : bordure en bas */
                border-left: none;  /* Pas de bordure à gauche */
                border-right: none; /* Pas de bordure à droite */
                padding-top: 5px; /* Espace entre le texte et la bordure haute */
                padding-bottom: 10px; /* Espace entre le texte et la bordure basse */
                margin-top: 8mm;
                /* display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /* border-radius: 10px;  on arrondit les coins => c'est moche en fait !  */
            }

            h2 {
                color :#500d30; /* Change la couleur du texte en bleu */
                font-size: 16px; /* définit la taille de la police à 30 pixels */
                /* border : 3px solid red; */
                /*border-width: 3px; /* Épaisseur */
                /*border-style: solid;  Style plein */
                /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
                /*padding: 10px;  Espace entre le texte et la bordure */
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            h3 {
                color :#4449d5; /* Change la couleur du texte en bleu */
                margin-bottom: 5px;
                margin-top: 20px;
                /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
                /*border-radius: 10px;  on arrondit les coins */
            }

            .saut-ligne {
                margin-top: 20px;
            }

            .comment {
                font-size: 11px;
                font-style: italic;
                color: #5f5f5f;
            }

            .paragraf {
                font-size: 16px;
                color: #5f5f5f;
                font-weight: normal;
            }

            .reponse01 {
                background-color: #fef7fb;
                display: inline-block; /* pour que span se comporte comme une div */
                width: 120px; /* pour écrire à la main */
            }

            .reponse02 {
                background-color: #fef7fb;
                width: 100%; /* pour écrire à la main */
                height: 100px;
            }

            .proche{
                line-height: 1.1;
            }

            /* style des tableaux du doc "convention" */
            .convention-table {
                border-collapse: collapse;
                width: 100%;
            }

            .convention-table th {
                background-color: aquamarine;
            }

            .convention-table th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }

            /*
            propriétés CSS basiques bien supportées par les générateurs de PDF, 
            permettant d'afficher deux signatures côte à côte avec un espacement approprié
            */

            .signatures {
                width: 100%; /* Prend toute la largeur disponible */
                margin-top: 10px; /* Espace de 10px au-dessus du conteneur */
                clear: both; /* Empêche les éléments flottants précédents d'affecter ce conteneur */
                overflow: hidden; /* Contient les éléments flottants */
                margin-bottom: 20px; /* Ajoute de l'espace après les signatures */
                min-height: 200px; /* Hauteur minimale pour assurer la visibilité des signatures */
                display: block; /* Force l'affichage en bloc */
            }

            .signatures-emarge {
                width: 100%; /* Prend toute la largeur disponible */
                margin-top: 10px; /* Espace de 10px au-dessus du conteneur */
                clear: both; /* Empêche les éléments flottants précédents d'affecter ce conteneur */
                overflow: hidden; /* Contient les éléments flottants */
                margin-bottom: 20px; /* Ajoute de l'espace après les signatures */
                min-height: 200px; /* Hauteur minimale pour assurer la visibilité des signatures */
                display: block; /* Force l'affichage en bloc */
            }

            /* > - C'est un sélecteur d'enfant direct. Il signifie que l'élément suivant doit être un enfant direct (au premier niveau) */
            .signatures > div { /* Style pour les deux div contenant chaque signature */
                width: 45%; /* Chaque div prend 45% de la largeur du conteneur */
                text-align: center; /* Centre le contenu texte à l'intérieur */
                float: left; /* Place les div côte à côte en les faisant flotter à gauche */
                display: block; /* Force l'affichage en bloc */
                min-height: 100px; /* Hauteur minimale pour le contenu */
            }

            .signatures-emarge > div { /* Style pour les deux div contenant chaque signature */
                width: 80%; /* Chaque div prend 45% de la largeur du conteneur */
                text-align: left; /* Centre le contenu texte à l'intérieur */
                float: left; /* Place les div côte à côte en les faisant flotter à gauche */
                display: block; /* Force l'affichage en bloc */
                min-height: 100px; /* Hauteur minimale pour le contenu */
            }
            
            .signatures > div:first-child { /* Style spécifique pour la première signature (côté gauche) */
                margin-right: 5%; /* Ajoute une marge de 5% à droite de la première signature */
            }
            
            .signatures > div:last-child { /* Style spécifique pour la deuxième signature (côté droit) */
                margin-left: 5%; /* Ajoute une marge de 5% à gauche de la deuxième signature */
            }
            
            .signature { /* Zone réservée pour l'image de la signature */
                margin-top: 0px; /* Espace de 30px au-dessus de la zone de signature */
                height: 100px; /* Hauteur fixe de 80px pour la zone */
                width: auto; /* Prend toute la largeur de son conteneur parent */
                display: block; /* Force l'affichage en bloc */
            }

            .signature-emarge { /* Zone réservée pour l'image de la signature */
                margin-top: 0px; /* Espace de 30px au-dessus de la zone de signature */
                height: 160px; /* Hauteur fixe de 80px pour la zone */
                width: auto; /* Prend toute la largeur de son conteneur parent */
                display: block; /* Force l'affichage en bloc */
            }
            
            .signature img { /* Style de l'image de la signature elle-même */
                width: auto; /* Largeur fixe de 180px pour l'image */
                height: auto; /* Hauteur automatique pour maintenir les proportions */
                max-height: 120px; /* Hauteur maximale de 200px pour éviter une image trop grande */
            }

            .signature-emarge img { /* Style de l'image de la signature elle-même */
                width: auto; /* Largeur fixe de 180px pour l'image */
                height: 120px; /* Hauteur automatique pour maintenir les proportions */
                /* max-height: 160px;  Hauteur maximale de 200px pour éviter une image trop grande */
            }

            /* Style du footer */
            .footer {
                clear: both; /* S'assure que le footer commence après les éléments flottants */
                width: 100%; /* Prend toute la largeur disponible */
                text-align: center; /* Centre le texte */
                font-family: Arial; /* Police simple */
                font-size: 10px; /* Taille de police réduite */
                color: #979797; /* Couleur grise */
                margin-top: 30px; /* Espace au-dessus du footer */
                padding-top: 10px; /* Espace intérieur en haut */
                border-top: 1px solid #d8d8d8;  /* Ligne de séparation */
            }

            .footer p {
                margin: 0; /* Supprime les marges du paragraphe */
                line-height: 1.4; /* Espacement des lignes */
            }


            /*

            TABLEAU DU DOCUMENT "EMARGEMENT"

            */

            .table-emarge {
                /* width: 100%; */
                border-collapse: collapse;
                margin-top: 40px;
                margin-bottom: 40px;
                font-family: Arial, sans-serif;
                font-size: 14px;
            }
            
            .table-emarge thead {
                background-color: #f0f0f0;
            }
            
            .table-emarge th, td {
                border: 1px solid #999;
                padding: 8px;
                text-align: center;
                vertical-align: middle;
                width: 200px;
            }
            
            .table-emarge th {
                height: 60px;
            }
            
            .table-emarge td {
                text-align: center !important; /* seule solution pour forcer le centrage du texte dans les cellules td */
                height: 100px;
            }
            
            .table-emarge th {
                font-weight: bold;
                background-color: #dceaff; /* bleu clair */
            }
            
            .table-emarge tr:nth-child(even) td {
                background-color: #fafafa;
            }
            
            .table-emarge td:first-child {
                text-align: left;
                font-weight: bold;
                background-color: #f9f9f9;
            }
            
            /*
            
            FIN DU TABLEAU DU DOCUMENT "EMARGEMENT"
            
            */

        </style>

        {% block stylesheets %} {% endblock %}

    </head>

    <body>

        {# Bloc pour le header global de DomPDF #}
        <htmlpageheader name="myheader">
            {% block pdf_header %}
              
            {% endblock %}
        </htmlpageheader>
    
        {# Bloc de contenu #}
        {% block body %}{% endblock %}

        {# Footer de DomPDF
        <htmlpagefooter name="myfooter">
            {% block pdf_footer %}
                <div class="footer">
                    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, Diététicienne-Qualiticienne - N° SIRET : {{ entreprise.numSiret }} - Tel : {{ entreprise.tel }}<br>
                    Activité enregistrée sous le n° {{ entreprise.numDeclaActivite }} auprès de la région {{ entreprise.prefectureRegion }}
                </div>
            {% endblock %}
        </htmlpagefooter> #}

    </body>
</html>
