<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        {% endblock %}

        
    </head>
    <body>

        {#   dans cette vue 'base.html.twig', il faudra mettre notre navbar -> au dessus du block body ! #}
        <nav>
            <ul>
                <li>
                    <a href="{{ path('creations') }}">Créations</a>                   {#   éléments futurs de la navbar (video : 2:17:00) #}
                </li>
                <li>
                    <a href="">Nouveau</a>
                </li>
                <li>
                    <a href="{{ path('app_module') }}">Modules</a>
                </li>
                <li>
                    <a href="{{ path('app_programme') }}">Programmes</a>
                </li>
                <li>
                    <a href="{{ path('app_formation') }}">Formations</a>
                </li>
                <li>
                    <a href="{{ path('app_session') }}">Sessions</a>
                </li>
                <li>
                    <a href="{{ path('app_apprenant') }}">Apprenants</a>
                </li>
                <li>
                    <a href="{{ path('app_formateur') }}">Formateurs</a>
                </li>
                <li>
                    <a href="{{ path('app_responsable') }}">Responsables</a>
                </li>
                <li>
                    <a href="{{ path('app_societe') }}">Sociétés</a>
                </li>
                <li>
                    <a href="{{ path('suivis') }}">Suivis</a>
                </li>
                <li>
                    <a href="{{ path('construction') }}">Apprenants</a>
                </li>
                <li>
                    <a href="{{ path('construction') }}">Sessions</a>
                </li>
                <li>
                    <a href="{{ path('construction') }}">Questionnaires</a>
                </li>
                <li>
                    <a href="{{ path('construction') }}">Agenda</a>
                </li>
                <li>
                    <a href="{{ path('parametres') }}">Paramètres</a>
                </li>
                <li>
                    <a href="{{ path('creations') }}">Utilisateurs</a>
                </li>
                <li>
                    <a href="{{ path('modeles_documents') }}">Modèles docs</a>
                </li>
                <li>
                    <a href="{{ path('new_edit_entreprise') }}">Infos société</a>
                </li>
                <li>
                    <a href="{{ path('new_edit_representant') }}">Infos rep. légal</a>
                </li>
                <li>
                    <a href="{{ path('construction') }}">Lieux formation</a>
                </li>
                <li>
                    <a href="{{ path('termes_publiables') }}">Publiables</a>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
