<!-- 
on crée ce template pour la mise en place de la barre de navigation latérale
ensuite, il sera incorporé au template base.html.twig, juste sous la balise <body>
-->

{# dans cette vue 'base.html.twig', il faudra mettre notre navbar -> au dessus du block body ! #}
{# https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp excellent tutoriel pour construire le dropdown du bouton "nouveau" #}
{# Balise sémantique <nav> avec l'attribut aria-label pour indiquer aux lecteurs d'écran qu'il s'agit d'une barre de navigation -> meilleure accessibilité #}
<nav class="sidenav" id="mySidenav" aria-label="navbar">
    <ul>
        <li>
            <a href="{{ path('creations') }}" class="princbtn">Créations</a> {# class="princbtn" dans la balise <li> </li> ? #} {#   éléments futurs de la navbar (video : 2:17:00) #}
        </li>
        <li class="dropdown">
            <button class="dropbtn">
                Nouveau <i class="fa-solid fa-arrow-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ path('construction') }}">Créer un module</a> {# lien non fonctionnel pour le moment #}
                <a href="{{ path('construction') }}">Créer un programme</a> {# lien non fonctionnel pour le moment #}
                <a href="{{ path('construction') }}">Créer une formation</a> {# lien non fonctionnel pour le moment #}
                <a href="{{ path('new_session') }}">Créer une session</a>
                <a href="{{ path('new_apprenant') }}">Créer un apprenant</a>
                <a href="{{ path('new_formateur') }}">Créer un formateur</a>
                <a href="{{ path('new_responsable') }}">Créer un responsable</a>
                <a href="{{ path('new_societe') }}">Créer une société</a>
            </div>
        </li>
        <li>
            <a href="{{ path('app_module') }}">Modules</a>
        </li>
        <li>
            <a href="{{ path('app_programme') }}">Programmes</a>
        </li>
        <li>
            <a href="{{ path('app_formation') }}">Formations</a>
        </li>
        <li>
            <a href="{{ path('app_session') }}">Sessions</a>
        </li>
        <li>
            <a href="{{ path('app_apprenant') }}">Apprenants</a>
        </li>
        <li>
            <a href="{{ path('app_formateur') }}">Formateurs</a>
        </li>
        <li>
            <a href="{{ path('app_responsable') }}">Responsables</a>
        </li>
        <li>
            <a href="{{ path('app_societe') }}">Sociétés</a>
        </li>
        <li>
            <a href="{{ path('suivis') }}" class="princbtn">Suivis</a>
        </li>
        <li>
            <a href="{{ path('construction') }}">Apprenants</a>
        </li>
        <li>
            <a href="{{ path('suivi_app_session') }}">Sessions</a>
        </li>
        <li>
            <a href="{{ path('construction') }}">Questionnaires</a>
        </li>
        <li>
            <a href="{{ path('construction') }}">Agenda</a>
        </li>
        <li>
            <a href="{{ path('parametres') }}" class="princbtn">Paramètres</a> 
        </li>
        <li>
            <a href="{{ path('construction') }}">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('modeles_documents') }}">Modèles docs</a>
        </li>
        <li>
            <a href="{{ path('new_edit_entreprise') }}">Infos société</a>
        </li>
        <li>
            <a href="{{ path('new_edit_representant') }}">Infos rep. légal</a>
        </li>
        <li>
            <a href="{{ path('construction') }}">Lieux formation</a>
        </li>
        <li>
            <a href="{{ path('termes_publiables') }}">Publiables</a>
        </li>
    </ul>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>