<!-- 
on crée ce template pour la mise en place de la barre de navigation latérale
ensuite, il sera incorporé au template base.html.twig, juste sous la balise <body>
-->

{# dans cette vue 'base.html.twig', il faudra mettre notre navbar -> au dessus du block body ! #}
{# https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp excellent tutoriel pour construire le dropdown du bouton "nouveau" #}
{# Balise sémantique <nav> avec l'attribut aria-label pour indiquer aux lecteurs d'écran qu'il s'agit d'une barre de navigation -> meilleure accessibilité #}
<nav class="sidenav" id="mySidenav" aria-label="Navigation latérale">
    <ul>
        <li>
            <a href="{{ path('creations') }}" class="princbtn">Créations</a> {# class="princbtn" dans la balise <li> </li> ? #}
        </li>
        {% if is_granted('ROLE_ADMIN') %}<li class="dropdown">
            <button class="dropbtn">
                Nouveau<i class="fa-solid fa-arrow-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ path('construction') }}">Créer un module</a>
                <a href="{{ path('construction') }}">Créer un programme</a>
                <a href="{{ path('construction') }}">Créer une formation</a>
                <a href="{{ path('new_session') }}">Créer une session</a>
                <a href="{{ path('new_apprenant') }}">Créer un apprenant</a>
                <a href="{{ path('new_formateur') }}">Créer un formateur</a>
                <a href="{{ path('new_responsable') }}">Créer un responsable</a>
                <a href="{{ path('new_societe') }}">Créer une société</a>
            </div>
        </li>{% endif %}
        <li>
            <a href="{{ path('app_module') }}" class="btn-purple">Modules</a>
        </li>
        <li>
            <a href="{{ path('app_programme') }}" class="btn-purple">Programmes</a>
        </li>
        <li>
            <a href="{{ path('app_formation') }}" class="btn-purple">Formations</a>
        </li>
        <li>
            <a href="{{ path('app_session') }}" class="btn-purple">Sessions</a>
        </li>
        <li>
            <a href="{{ path('app_apprenant') }}" class="btn-purple">Apprenants</a>
        </li>
        <li>
            <a href="{{ path('app_formateur') }}" class="btn-purple">Formateurs</a>
        </li>
        <li>
            <a href="{{ path('app_responsable') }}" class="btn-purple">Responsables</a>
        </li>
        <li>
            <a href="{{ path('app_societe') }}" class="btn-purple">Sociétés</a>
        </li>
        <li>
            <a href="{{ path('suivis') }}" class="princbtn">Suivis</a>
        </li>
        <li>
            <a href="{{ path('construction') }}" class="btn-purple">Apprenants</a>
        </li>
        <li>
            <a href="{{ path('suivi_app_session') }}" class="btn-purple">Sessions</a>
        </li>
        <li>
            <a href="{{ path('construction') }}" class="btn-purple">Questionnaires</a>
        </li>
        <li>
            <a href="{{ path('construction') }}" class="btn-purple">Agenda</a>
        </li>
        <li>
            <a href="{{ path('parametres') }}" class="princbtn">Paramètres</a> 
        </li>
        <li>
            <a href="{{ path('app_utilisateur') }}" class="btn-purple">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('modeles_documents') }}" class="btn-purple">Modèles docs</a>
        </li>
        <li>
            <a href="{{ path('new_edit_entreprise') }}" class="btn-purple">Infos société</a>
        </li>
        <li>
            <a href="{{ path('new_edit_representant') }}" class="btn-purple">Infos rep. légal</a>
        </li>
        <li>
            <a href="{{ path('construction') }}" class="btn-purple">Lieux formation</a>
        </li>
        <li>
            <a href="{{ path('termes_publiables') }}" class="btn-purple">Publiables</a>
        </li>
    </ul>
    {# <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> attention au petit menu burger dans la navbar latérale ! #}
</nav>

