{% extends 'base03.html.twig' %}

{% block title %}Document administratif : attestation de présence{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    {# logo du haut de la page #}
    <div class="doc-header">
        {% if entreprise is not null and entreprise.logoFilename is not empty %}  {# on ajoute une vérification pour éviter une erreur si l'entreprise n'existe pas ou si le logo n'est pas encore choisi #}
        <img src="{{ path('logo_display', { filename: entreprise.logoFilename }) }}" alt="Logo de l'entreprise {{ entreprise.raisonSociale }}">
        {% endif %}
    </div>

    <h1>ATTESTATION DE PRÉSENCE</h1>

    <div class="sous-cont">
        
        <p class="saut-ligne">
            Je 
            {% if representant.sexe == 'M' %} 
                soussigné, 
            {% elseif representant.sexe == 'F' %} 
                soussignée, 
            {% else %} 
                soussigné(e), 
            {% endif %} 
            {{ representant.prenom|capitalize }} {{ representant.nom|upper  }},<br>
            agissant en qualité de {{ representant.fonction|lower }} de la société {{ entreprise.raisonSociale }},
        </p>
    
        <p class="saut-ligne">
            atteste que :
        </p>
    
        <p class="saut-ligne">
            {% if apprenant.sexe == 'M' %}
                Monsieur
            {% elseif apprenant.sexe == 'F' %}
                Madame
            {% else %}
                L'apprenant
            {% endif %}
            {{ apprenant.prenom|capitalize }} {{ apprenant.nom|upper }},<br>
            {% if societe is not null %}
                {% if apprenant.sexe == 'M' %}
                    salarié
                {% elseif apprenant.sexe == 'F' %}
                    salariée
                {% else %}
                    salarié(e)
                {% endif %} de l'entreprise {{ societe.raisonSociale }},<br>
            située au {{ societe.adresseSiege }} - {{ societe.codePostalSiege }} {{ societe.villeSiege }},<br>
            {% endif %}
        </p>

        <p class="saut-ligne">
            a suivi la formation :
        </p>
    
        <h2>{{ session.formation.nomFormation }}</h2>
    
        <p class="saut-ligne">
            qui s'est déroulée {{ session.datesSession }}, pour une durée de {{ session.formattedDuration }}.
        </p>
    
        <div class="saut-ligne">
            <p>
                La formation {% if session.formation.modalites == 'présentiel' %}'en présence'{% elseif session.formation.modalites == 'distanciel' %}'à distance'{% else %}{% endif %} s'est réalisée à l'adresse suivante :
            </p>
            <ul>
                <li>
                    {% if societe is not null %}
                        {{ societe.adresseSiege }} {{ societe.codePostalSiege }} {{ societe.villeSiege|capitalize }} {{ societe.paysSiege|upper }}
                    {% else %}
                        au domicile de {{ apprenant.prenom }} {{ apprenant.nom }}
                    {% endif %}
                </li>
            </ul>
        </div>
    
        <div class="saut-ligne">
            Fait à {{ entreprise.villeSiege|capitalize }}<br>
            Le {{ 'now'|date("d-m-Y") }}
        </div>
    
        <div class="signatures saut-ligne">
            <div>
                <p>
                    Signature de<br>
                    {% if apprenant.sexe == 'M' %}
                        Monsieur
                    {% elseif apprenant.sexe == 'F' %}
                        Madame
                    {% else %}
                        L'apprenant
                    {% endif %}
                    {{ apprenant.prenom|capitalize }} {{ apprenant.nom|upper }}                 
                </p>
                <div class="signature"></div>
            </div>
            <div>
                <p>
                    Cachet et signature<br>
                    du responsable du dispensateur de formation<br>
                    {% if representant.sexe == 'M' %}
                        Monsieur
                    {% elseif representant.sexe == 'F' %}
                        Madame
                    {% else %}
                    {% endif %}
                    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, {{ representant.fonction|lower }}
                </p>
                <div class="signature">
                    <img src="{{ path('tampon_display', { filename: representant.tamponFilename }) }}" alt="le tampon et la signature du représentant">
                </div>
            </div>
        </div>
    
        <p class="doc-footer">
            {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, Diététicienne-Qualiticienne - N° SIRET : {{ entreprise.numSiret }} - Tel : {{ entreprise.tel }}<br>
            Activité enregistrée sous le n° {{ entreprise.numDeclaActivite }} auprès de la région {{ entreprise.prefectureRegion }}
        </p>

    </div>

</div>

{% endblock %}
