{% extends 'base04.html.twig' %}

{% block title %}Document administratif : certificat de réalisation{% endblock %}

{% block meta_description %}Le document administratif 'certificat de réalisation' au format PDF généré automatiquement par FORMA'GESTION pour chaque apprenant ayant participé à une session.{% endblock %}


{% block pdf_header %}
<div class="cont-logo-base64">
    <img src="{{ logoBase64 }}" alt="Logo de l'entreprise {{ entreprise.raisonSociale }}">
</div>
{% endblock %}


{% block body %}

<h1>CERTIFICAT DE RÉALISATION</h1>

<p class="saut-ligne">
    Je 
    {% if representant.sexe == 'M' %} 
        soussigné, 
    {% elseif representant.sexe == 'F' %} 
        soussignée, 
    {% else %} 
        soussigné(e), 
    {% endif %}
    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }},<br>
    représentant légal du dispensateur de l'action concourant au développement des compétences : {{ entreprise.raisonSociale }},
</p>

<p class="saut-ligne">
    atteste que :
</p>

<p class="saut-ligne">
    {% if apprenant.sexe == 'M' %}
        Monsieur
    {% elseif apprenant.sexe == 'F' %}
        Madame
    {% else %}
        L'apprenant
    {% endif %}
    {{ apprenant.prenom|capitalize }} {{ apprenant.nom|upper }},<br>
    {% if societe is not null %}
        {% if apprenant.sexe == 'M' %}
            salarié
        {% elseif apprenant.sexe == 'F' %}
            salariée
        {% else %}
            salarié(e) 
        {% endif %} 
        de l'entreprise {{ societe.raisonSociale }},<br>
    {% endif %}  
</p>

<p class="saut-ligne">
    a suivi l'action : {{ session.formation.nomFormation }}
</p>
{#
<div class="saut-ligne">
    <i>Nature de l'action concourant au développement des compétences :</i><br>
    <i class="fa-regular fa-square-check"></i>  action de formation<br>
    <i class="fa-regular fa-square"></i> bilan de compétences<br>
    <i class="fa-regular fa-square"></i> action de VAE<br>
    <i class="fa-regular fa-square"></i> action de formation par apprentissage
</div>
#}

<div class="saut-ligne">
    <i>Nature de l'action concourant au développement des compétences :</i><br>
    <span class="car-unicode">☑️</span>  action de formation<br>
    <span class="car-unicode">◻️</span> bilan de compétences<br>
    <span class="car-unicode">◻️</span> action de VAE<br>
    <span class="car-unicode">◻️</span> action de formation par apprentissage
</div>

<p class="saut-ligne proche">
    qui s'est déroulée {{ session.datesSession }}, pour une durée de {{ session.formattedDuration }}.<br>
    <span class="comment">
        (Dans le cadre des formations à distance, le temps estimé pour la réalisation des activités pédagogiques est pris en compte.)
    </span>
</p>

<p class="saut-ligne">
    Sans préjudice des délais imposés par les règles fiscales, comptables ou commerciales, je m'engage à conserver l'ensemble des pièces justificatives qui ont permis d'établir le présent certificat pendant une durée de 3 ans à compter de la fin de l'année du dernier paiement. En cas de cofinancement des fonds européens, la durée de conservation est étendue conformément aux obligations conventionnelles spécifiques.
</p>
    
<div class="saut-ligne">
    Fait à {{ entreprise.villeSiege|capitalize }}, le {{ 'now'|date("d-m-Y") }}
</div>

<div class="signatures">
    <p>
        Cachet et signature<br>
        du responsable du dispensateur de formation<br>
        {% if representant.sexe == 'M' %}
            Monsieur
        {% elseif representant.sexe == 'F' %}
            Madame
        {% else %}
        {% endif %}
        {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, {{ representant.fonction|lower }}
    </p>
    <div class="signature cont-tampon-base64">
        <img src="{{ tamponBase64 }}" alt="Tampon de l'entreprise {{ entreprise.raisonSociale }}">
    </div>
</div>

{#
<div class="footer">
    <p>
    {{ representant.prenom|capitalize }} {{ representant.nom|upper  }}, Diététicienne-Qualiticienne - N° SIRET : {{ entreprise.numSiret }} - Tel : {{ entreprise.tel }}<br>
    Activité enregistrée sous le n° {{ entreprise.numDeclaActivite }} auprès de la région {{ entreprise.prefectureRegion }}
    </p>
</div>
#}

{% endblock %}
