{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

    <h1>Liste des formateurs</h1>
    <h3>Votre annuaire compte {{ formateurs|length }} formateurs répertoriés</h3>



    {% if formateurs | length > 0 %} <!-- dans le contexte PHP classique, on utilise count() pour savoir combien d'éléments existent dans la collection, dans le contexte TWIG, on utilise le filtre length -->

        <table>
            <thead>
                <tr>
                    <th>
                        Prénom, Nom
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Téléphone
                    </th>
                    <th>
                        Nom de la société
                    </th>
                    <th>
                        <!-- vide : colonne pour les icones édition -->
                    </th>
                    <th>
                        <!-- vide : colonne pour les icones suppression -->
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for formateur in formateurs %}
                    <tr>
                        <td>
                            <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.prenom|capitalize }} {{ formateur.nom|upper }}</a>
                        </td>
                        <td>
                            {{ formateur.email|lower }}
                        </td>
                        <td>
                            {{ formateur.tel }}
                        </td>
                        <td>
                            {% if formateur.societe is not null %}{{ formateur.societe.raisonSociale }}{% else %}{% if formateur.statut == 'salarié' %}Forma'Toque{% else %}-{% endif %}{% endif %}
                        </td>
                        <td>
                            <a class="btn btn-gris" href="{{ path('edit_formateur', {'id' : formateur.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> {# bouton pour éditer le formateur #}
                        </td>
                        <td>
                            <a class="btn btn-gris" href="{{ path('delete_formateur', {'id' : formateur.id}) }}"><i class="fa-solid fa-trash"></i></a> <br> {# bouton pour supprimer le formateur #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div>Aucun formateur n'est présent dans l'annuaire.</div>

    {% endif %}


    {# 
    ancienne présentation basique 
    {% for formateur in formateurs %}

        <a href="{{ path('show_formateur', {'id' : formateur.id}) }}">{{ formateur.prenom }} {{ formateur.nom | upper }} {{ formateur.email }} {{ formateur.tel }}{% if formateur.societe is not null %} {{ formateur.societe.raisonSociale }}{% else %} -{% endif %}</a>
        <a class="btn btn-gris" href="{{ path('edit_formateur', {'id' : formateur.id}) }}">M</a>  -> bouton pour éditer le formateur 
        <a class="btn btn-gris" href="{{ path('delete_formateur', {'id' : formateur.id}) }}">X</a> <br>  -> bouton pour supprimer le formateur 
        
    {% endfor %}
    #}


    <div>
        <a href="{{ path('new_formateur') }}" class="btn btn-rose">Créer un formateur</a><br><br>
    </div>

{% endblock %}



