{% extends 'base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block meta_description %}La liste complète des programmes présents dans votre base de données, avec les informations nécessaires au fonctionnement de l'outil de gestion administrative FORMA'GESTION.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Programmes</h1>
    <h3>Récapitulatif des programmes qui fixent un cadre aux formations proposées</h3>

    <div class="sous-cont">
        
        <div class="position-purple">
            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('construction') }}" class="btn btn-rose"><i class="fa-solid fa-folder-plus"></i>Créer un programme</a>{% endif %} {# ce bouton n'est pas actif dans le MVP #}
        </div>
    
        {% if programmes|length > 0 %} <!-- dans le contexte PHP classique, on utilise count() pour savoir combien d'éléments existent dans la collection, dans le contexte TWIG, on utilise le filtre length -->
    
            <table class="apprenants-table">
                <thead>
                    <tr>
                        <th>
                            Nom ou référence du programme
                        </th>
                        <th>
                            Date de mise à jour
                        </th>
                        <th>
                            <!-- vide : colonne pour les icones édition -->
                        </th>
                        <th>
                            <!-- vide : colonne pour les icones édition -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in programmes %}
                        <tr>
                            <td class="clickable-row" data-href="{{ path('construction') }}">
                                <a href="{{ path('construction') }}">{{ programme.nomProgramme }}</a>
                            </td>
                            <td class="clickable-row" data-href="{{ path('construction') }}">
                                <a href="{{ path('construction') }}">{{ programme.dateMaj|date("d/m/Y") }}</a>
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}<a class="icon-btn-gris" href="{{ path('construction') }}"><i class="fa-solid fa-pen-to-square"></i></a>{% endif %} {# bouton pour éditer le programme #}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}<a class="icon-btn-gris" href="{{ path('construction') }}"><i class="fa-solid fa-trash"></i></a>{% endif %} {# bouton pour supprimer le programme #}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        {% else %}
    
            <div>Aucun programme n'est présent dans la base de données.</div>
    
        {% endif %}

    </div>

</div>

{% endblock %}


